header {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(214, 26, 26, 0.914);
    color: bisque;
    font-size: x-large;
    box-shadow: 0px 0px 40px 20px maroon;

}
.container {
    background-image:url('Retro Picture.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.score1 {
    padding: 7px;
    border: 5px;
    width:fit-content;
    height: auto;
    background-color: aqua;
    position: relative;
    left: 30px;
    top: 20px;
    box-shadow: 0px 0px 60px 10px aqua;
    }

.score2 {
    border: 2px solid red;
    position: relative;
    outline: solid 5px;
    padding: 5px;
    width: 200px;
    top: -25px;
    height: 200px;
}

section {
    align-items: start;
    position: relative;
    top: 30%;
    color: palevioletred;
    text-shadow: 0px 0px 50px 5px palevioletred;

}